@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0fdf4;
  /* Light green/mint tint */
  --foreground: #14532d;
  /* Dark green */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}